* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #FFF;
  margin: 0 auto;
  padding: 0 auto;
}

.flex-img {
  display: block;
  width: 100%;
}

.img-l {
  display: none;
}

label {
  display: block;
  cursor: pointer;
}

form {
  padding: 2em;
}

input,
textarea {
  font-size: 1rem;
}

.input-text {
  border: 1px solid #ccc;
  background-image: linear-gradient(to bottom, #efefef, #fff);
  padding: 0.5em 0.5em;
  width: 100%;
  margin-bottom: 1.5em;
}

.error {
  display: block;
  color: #000;
  background-color: #dc0f0e;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 0.1em;
  padding: 0.5em 0 0.5em 0.5em;
}

.input-error {
  border: 1px solid #f33;
}

input + label {
  display: inline;
}

fieldset {
  border: #dc0f0e solid 1px;
}

.radiobtn {
  display: block;
}

button {
  padding: 1em;
  font-size: 1.125rem;
  border: 0px solid #FFF;
  background-color: #dc0f0e;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  margin: 2em 2em 0em 2em;
}

.copyright {
  text-align: center;
  margin: 0 auto;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0em 0 1em 0;
  font-family: sans-serif;
}

@media only screen and (min-width: 37.5em) {
  .radiobtn {
    display: inline;
  }

  .img-l {
    display: block;
  }

  .img-s {
    display: none;
  }
}

@media only screen and (min-width: 56.25em) {
  form {
    padding: 5em 10em 2em 10em;
  }
}

